In [29]:
import pandas as pd
df = pd.read_csv('data/students.csv')
pd.set_option('display.max_columns', None)
df.head()

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,Chemistry rating,Literature rating,History rating,Geography rating,Biology rating,Foreign language rating,Social science rating,Distance to home km,Minutes to first class,Children number,Removed teeth,Weight,Glasses,Sex,Problems in last semester,Coin,Rock paper scissors,Animal,Month of birthday,Your rating in university,Fastfood,Height of 5000 mm,Width of 5000 mm,Putin age,Army,Hostel,Hair length,Floor number,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
0,20,170,40,2,2002,100,85,86,0,84,0,0,0,0,0,0,0,0,150,4.0,0.0,64.0,да,женский,нет,Орел,Камень,Кошек,6,выше средней по университету,Бургер кинг,100,200,68,не призовут (по разным причинам),нет,50.0,7,45,Сникерс,800000.0,Экономический,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),20,10.0,40.0
1,22,191,43,7,2000,307,69,74,64,72,0,0,0,0,0,0,0,0,50,NaN,NaN,73.0,простите. не увидел(а) вопроса )))),мужской,нет,Орел,Камень,Собак,4,ниже средней по университету,KFC,50,8,53,не призовут (по разным причинам),нет,7.0,5,180,КитКат,800000.0,Математический и ИТ,Математический и ИТ,есть и брат и сестра,В середине,5,5.0,20.0
2,21,172,41,4,2000,186,78,62,0,0,0,0,0,0,0,0,70,0,80,2.0,0.0,60.0,да,мужской,нет,Решка,Ножницы,Собак,8,выше средней по университету,Макдональдс (или как он там сейчас называется?),75,170,69,могут призвать,нет,4.0,7,90,КитКат,770000.0,Педагогический,Другое,есть брат,У окна (пардон: у иллюминатора),13,10.0,26.0
3,19,168,38,2,2003,604,72,0,0,0,0,0,98,0,0,0,91,640,40,2.0,0.0,59.0,нет,женский,нет,Решка,Ножницы,Собак,1,выше средней по университету,Макдональдс (или как он там сейчас называется?),50,100,70,не призовут (по разным причинам),нет,20.0,5,200,Баунти,900000.0,СоцГум,Юридический,есть сестра,У окна (пардон: у иллюминатора),12,13.5,35.0
4,23,159,36,1,1998,144,0,0,0,0,0,0,0,0,0,0,0,2505,40,2.5,1.0,57.0,нет,женский,нет,Орел,Бумага,Кошек,12,выше средней по университету,Бургер кинг,35,120,67,не призовут (по разным причинам),нет,55.0,3,400,Баунти,860000.0,Педагогический,Педагогический,есть сестра,У окна (пардон: у иллюминатора),10,11.0,22.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

#### 2.1

In [13]:
#2.1.1
df['Growth'].loc[12]

169

In [17]:
#2.1.2
df['Growth'].iloc[-18]

161

#### 2.2

In [20]:
#2.2.1
round(df['Weight'].mean(), 2)

64.03

In [21]:
#2.2.2
round(df['Weight'].median(), 2)

60.0

In [22]:
#2.2.3
round(df['Weight'].min(), 2)

3.0

In [23]:
#2.2.4
round(df['Weight'].max(), 2)

120.0

In [30]:
#2.2.5
df['Rock paper scissors'].value_counts()

Ножницы    88
Камень     60
Бумага     38
Name: Rock paper scissors, dtype: int64

In [32]:
#2.2.6
round(df['Weight'].iloc[9], 2)

58.0

#### 2.3

In [44]:
#2.3.1
df.groupby('Growth')['Weight'].max().sort_values(ascending=False).head(1)

Growth
180    120.0
Name: Weight, dtype: float64

In [50]:
#2.3.2
round(df[df['Army'] == 'могут призвать']['Hair length'].mean(), 2)

11.05

In [55]:
#2.3.3
len(df[(df['Sex'] == 'мужской') & (df['Friend number'] == 0)])

1

In [62]:
#2.3.4
round(df[df['Animal'] == 'Собак']['Floor number'].value_counts(normalize = True)*100, 2).head()

4    20.00
1    11.67
5    10.00
2     8.33
6     8.33
Name: Floor number, dtype: float64

In [74]:
#2.3.5
single_child = df[df['Brother-sister'] == 'нет ни брата ни сестры']['Social network duration min'].median()
not_single_child = df[(df['Brother-sister'] == 'есть брат') | (df['Brother-sister'] == 'есть сестра') |
   (df['Brother-sister'] == 'есть и брат и сестра')]['Social network duration min'].median()
single_child - not_single_child

60.0

In [85]:
#2.3.6
KFC_persons = df[df['Fastfood'] == 'KFC']['Weight'].mean()
Mac_persons = df[df['Fastfood'] == 'Макдональдс (или как он там сейчас называется?)']['Weight'].mean()
round(KFC_persons - Mac_persons, 2)

8.06

#### 2.4

In [101]:
#2.4.1
df[['Year of birth', 'Shoe size']].sort_values(by = 'Shoe size').head(1)

    Year of birth  Shoe size
96           2003         34

In [102]:
#2.4.2
df[['Year of birth', 'Shoe size']].sort_values(by = 'Shoe size').head(3)

    Year of birth  Shoe size
96           2003         34
47           2004         35
52           2002         35

In [106]:
#2.4.3
df[['Year of birth','Growth', 'Shoe size']].sort_values(by = ['Shoe size','Growth']).head(9)

     Year of birth  Growth  Shoe size
96            2003     163         34
118           2003     157         35
10            2001     158         35
37            1997     158         35
116           1999     158         35
138           2001     158         35
47            2004     159         35
52            2002     163         35
177           1999     155         36

In [109]:
#2.4.4
df[['Year of birth','Growth', 'Shoe size']].sort_values(by = ['Shoe size','Growth'], ascending=[True,False]).head(2)

    Year of birth  Growth  Shoe size
96           2003     163         34
52           2002     163         35

In [110]:
#2.4.5
df[['Year of birth','Growth', 'Shoe size']].sort_values(by = ['Shoe size','Growth'], ascending=[False,True]).head(2)

    Year of birth  Growth  Shoe size
7            2003     180         48
27           2003     193         48

In [112]:
#2.4.6
df['Full length'] = df['Growth'] + df['Hair length']
df['Full length'].max()

319.0

In [113]:
#2.4.7
df[['Growth', 'Shoe size']].corr()

             Growth  Shoe size
Growth     1.000000   0.863252
Shoe size  0.863252   1.000000

In [115]:
#2.4.8
df.groupby('Glasses')[['Russian rating','Maths rating']].mean()

                                     Russian rating  Maths rating
Glasses
да                                        83.388235     56.741176
нет                                       80.471910     59.955056
простите. не увидел(а) вопроса ))))       77.900000     54.700000

In [116]:
#2.4.9
df.groupby('Rock paper scissors')[['Russian rating','Maths rating']].mean()

                     Russian rating  Maths rating
Rock paper scissors
Бумага                    76.473684     52.894737
Камень                    81.450000     62.166667
Ножницы                   83.988636     57.738636

#### 3.2

In [121]:
#3.2.1
df['Children number'].isnull().sum()

36

In [162]:
#3.2.2
females = df[df['Sex'] == 'женский']
males = df[df['Sex'] == 'мужской']
females['Weight'] = females['Weight'].fillna(females['Weight'].mean())
males['Weight'] = males['Weight'].fillna(males['Weight'].mean())
df_new = males.append(females)
round(df_new['Weight'].mean(), 2)

C:\Users\user\AppData\Local\Temp\ipykernel_19384\2085828938.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  females['Weight'] = females['Weight'].fillna(females['Weight'].mean())
C:\Users\user\AppData\Local\Temp\ipykernel_19384\2085828938.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  males['Weight'] = males['Weight'].fillna(males['Weight'].mean())
C:\Users\user\AppData\Local\Temp\ipykernel_19384\2085828938.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = males.append(females)

63.53

In [163]:
#3.2.2