# 3. Даты: основные типы

In [ ]:
SELECT NOW()

In [ ]:
SELECT CURRENT_TIMESTAMP

In [ ]:
select now() at time zone 'Europe/Moscow'

In [ ]:
"timestamp_column"::date
или
"date_column"::timestamp

In [ ]:
select CURRENT_DATE
или
select now()::date

In [ ]:
WITH x AS 
(
SELECT '2018-12-31 21:00:00+00'::timestamp WITH time zone ts
)
SELECT 
        (ts at time zone 'Europe/Moscow')::date dt_msk,
        (ts)::date dt_utc
FROM x

#  4. Функции и операторы для работы с датами

##### EXTRACT()

In [ ]:
SELECT EXTRACT(DAY FROM TIMESTAMP '2001-02-16 20:38:40');
SELECT EXTRACT(DAY FROM INTERVAL '40 days 1 minute');
SELECT EXTRACT(HOUR FROM TIMESTAMP '2001-02-16 20:38:40');

In [ ]:
select EXTRACT(year FROM s.ship_date) year_n, EXTRACT(MONTH FROM s.ship_date) month_n, count(*) qty 
from sql.shipment s
group by 1, 2
order by 1, 2

##### TO_CHAR()

In [ ]:
select to_char(current_timestamp, 'HH12:MI:SS')
select to_char(now(),'"Hello! Today is" DAY yyyy-Mon-dd')

In [ ]:
select to_char(now() at time zone 'Europe/Moscow', 'Точное время HH24 часов MI минут SS секунд') msg

##### DATE_TRUNC()

In [ ]:
select date_trunc('minute',now())

In [ ]:
select date_trunc('quarter', s.ship_date)::date q, sum (s.weight) total_weight 
FROM sql.shipment s
group by 1
order by 1

##### МАТЕМАТИЧЕСКИЕ ОПЕРАТОРЫ

In [ ]:
select '2019-01-01'::date + 10
select '2019-01-01'::date + 500

In [ ]:
select c.city_name city_name , (max(s.ship_date) - min(s.ship_date)) days_active  
FROM sql.shipment s JOIN sql.city c ON c.city_id = s.city_id
group by 1
order by 1, 2

# 6. Функции и операторы для работы со строками

In [ ]:
select 'select * from '||t.table_schema||'.'||t.table_name||';' query
from information_schema.tables t
where table_schema = 'shipping'

In [ ]:
select 'Ваш заказ доставит водитель '||d.first_name||' '||d.last_name||'.'||' Его контактный номер: '||coalesce(d.phone, '-') msg
from sql.driver d

##### UPPER() И LOWER()

In [ ]:
select upper('Abc') s1 ,lower('xYz') s2

In [ ]:
select c.cust_id, lower(c.cust_name) cust_name  
from sql.customer c JOIN sql.shipment s ON c.cust_id = s.cust_id
GROUP BY 1,2
HAVING COUNT(distinct s.ship_id)>10
ORDER BY 1

##### REPLACE()

In [ ]:
select replace('малако','а','о')
select replace('Hello, world!',', world','')

In [ ]:
SELECT 
        lower(replace(state||'__'||city_name,' ','_')) utm
FROM sql.city
ORDER BY 1

##### LEFT() И RIGHT()

In [ ]:
select left('0123456789', - 2), right('0123456789', - 2)

In [ ]:
SELECT LEFT(state,4) code, COUNT(distinct state) qty
FROM sql.city
GROUP BY 1
HAVING COUNT(distinct state)>1
ORDER BY code

##### FORMAT()

In [ ]:
select format('Hello, %s!', d.first_name) from shipping.driver d

In [ ]:
select format('driver_id = %s, first_name = %s, last_name = %s, address = %s, zip_code = %s, phone = %s, city_id = %s',
              driver_id, first_name, last_name, address, zip_code, phone, city_id) from shipping.driver d

In [ ]:
SELECT format($$%s is located in %s. There's %s people living there. Its area is %s$$,c.city_name,c.state,c.population,c.area) str
FROM sql.city c
ORDER BY city_name