In [ ]:
SELECT DISTINCT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

# 2. Убираем повторяющиеся значения

In [ ]:
SELECT DISTINCT # уникальные значения
    type1,
    type2
FROM sql.pokemon

# 3. Агрегатные функции

In [ ]:
SELECT
    COUNT(*)
FROM sql.pokemon

Назовём основные агрегатные функции, с которыми нам предстоит работать:

COUNT — вычисляет число непустых строк;
SUM — вычисляет сумму;
AVG — вычисляет среднее;
MAX — вычисляет максимум;
MIN — вычисляет минимум.

In [ ]:
SELECT AVG (hp)
FROM sql.pokemon
WHERE type1 = 'Dragon'

In [ ]:
SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'

In [ ]:
SELECT
    COUNT(*) AS "pokemon_count",
    AVG(speed) AS "avg_speed",
    MAX(hp) AS "max_hp ",
    MIN(hp) AS "min_hp"
FROM sql.pokemon
WHERE type1 = 'Electric' AND (type2 IS NOT NULL) AND (attack > 50 OR defense > 50)

# 4. Группировка

In [ ]:
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY type1
ORDER BY type1

In [ ]:
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC

In [ ]:
SELECT
    type1 AS primary_type,
    COUNT(DISTINCT type2) AS additional_types_count,
    AVG(hp) AS avg_hp,
    SUM(attack) AS attack_sum
FROM sql.pokemon
GROUP BY primary_type
ORDER BY  additional_types_count DESC, primary_type

In [ ]:
SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST

# 5. Фильтрация агрегированных строк

In [ ]:
SELECT
    type1 AS primary_type,
    AVG(attack) AS avg_attack
FROM sql.pokemon
GROUP BY primary_type 
HAVING AVG(attack) > 90

In [ ]:
SELECT
    type1 AS primary_type,
    type2 AS additional_type
FROM sql.pokemon
GROUP BY primary_type, additional_type
HAVING AVG(attack) > 100 and MAX(hp) < 80

In [ ]:
SELECT
    type1 AS primary_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
WHERE name LIKE 'S%'
GROUP BY primary_type
HAVING AVG(defense) > 80
ORDER BY pokemon_count DESC
LIMIT 3

# 6. Итоги

In [ ]:
SELECT
    count(DISTINCT attack)
FROM sql.pokemon
WHERE (type1 = 'Water' or type2 = 'Water')

In [ ]:
SELECT
    type1,
    type2,
    avg(hp),
    avg(attack),
    avg(defense),
    avg(speed)
FROM sql.pokemon
GROUP BY type1, type2
HAVING avg(hp)+avg(attack)+avg(defense)+avg(speed) > 400

In [ ]:
SELECT
    type1,
    COUNT(type1)
FROM sql.pokemon
WHERE (attack BETWEEN 50 AND 100) OR (defense BETWEEN 50 AND 100)
GROUP BY type1
HAVING MAX(hp) <= 125
ORDER BY COUNT(type1) DESC
OFFSET 4 LIMIT 1