In [ ]:
SELECT
    столбец1 AS новое_название,
    столбец2,
    столбец3
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

# 1. Получаем все данные из таблицы

In [ ]:
SELECT *
FROM sql.kinopoisk

In [ ]:
SELECT movie_title, year, rating
FROM sql.kinopoisk

In [ ]:
SELECT
    movie_title,
    2020 - year,
    rating
FROM sql.kinopoisk

In [ ]:
SELECT
    director,
    movie_title,
    10 - rating AS difference
FROM sql.kinopoisk

In [ ]:
SELECT
    movie_title,
    year / rating
FROM sql.kinopoisk

# 2. Фильтруем строки

#### WHERE

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE position = 1

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE year <> 2000

#### AND И OR

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE year >= 1975
    AND year <= 1985

#### BETWEEN

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE year BETWEEN 1975 AND 1985

#### NOT

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE year NOT BETWEEN 1965 AND 1980

In [ ]:
SELECT
    year,
    movie_title,
    director
FROM sql.kinopoisk
WHERE (rating > 8.5 AND year < 2000)
    OR year >= 2000

#### IN

In [ ]:
SELECT
    movie_title
FROM sql.kinopoisk
WHERE year IN (2000, 1985, 1939)

#### LIKE

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE movie_title LIKE 'А%'

In [ ]:
SELECT
    movie_title,
    year
FROM sql.kinopoisk
WHERE director LIKE 'Дэвид%'
    AND rating > 8

#### NULL

In [ ]:
SELECT *
FROM sql.kinopoisk
WHERE overview = IS NOT NULL

# 3. Сортировка

#### ORDER BY

In [ ]:
SELECT *
FROM sql.kinopoisk
ORDER BY movie_title

In [ ]:
SELECT
    movie_title,
    director,
    screenwriter,
    year
FROM sql.kinopoisk
WHERE country = 'СССР'
ORDER BY rating DESC

In [ ]:
SELECT
    movie_title,
    overview,
    year
FROM sql.kinopoisk
WHERE rating >= 8.2 AND country != 'США'
ORDER BY year DESC

In [ ]:
SELECT
    movie_title,
    rating,
    overview,
    year
FROM sql.kinopoisk
ORDER BY overview NULLS FIRST

In [ ]:
SELECT movie_title
FROM sql.kinopoisk
WHERE rating > 8.3 AND country = 'Франция'
ORDER BY rating DESC, year DESC

In [ ]:
SELECT
    director,
    movie_title,
    year
FROM sql.kinopoisk
ORDER BY 1, 3 DESC

# 4. Ограничение вывода

#### LIMIT

In [ ]:
SELECT *
FROM sql.kinopoisk
LIMIT 10

In [ ]:
SELECT
    movie_title,
    rating
FROM sql.kinopoisk 
ORDER BY rating DESC
LIMIT 5

In [ ]:
SELECT
    director,
    movie_title,
    actors
FROM sql.kinopoisk 
ORDER BY year
LIMIT 20

#### OFFSET

In [ ]:
SELECT
    movie_title,
    rating 
FROM sql.kinopoisk
ORDER BY rating DESC
OFFSET 3 LIMIT 5

In [ ]:
SELECT
    movie_title
FROM sql.kinopoisk
WHERE year > 1990 AND country != 'Россия'
ORDER BY rating DESC
OFFSET 19 LIMIT 28

#### TEST

In [ ]:
SELECT movie_title AS "Название фильма", director AS "Режиссёр", screenwriter AS "Сценарист", actors AS "Актёры"
FROM sql.kinopoisk
WHERE ((rating BETWEEN 8 AND 8.5) OR (year < 1990)) AND (overview IS NOT NULL) AND (movie_title NOT LIKE 'T%') AND (movie_title LIKE '____________')
ORDER BY rating DESC
LIMIT 7