In [ ]:
SELECT
    столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
JOIN таблица3 ON условие

# 1. Знакомимся с данными

In [ ]:
SELECT
    season,
    SUM(home_team_goals) AS total_home_goals,
    SUM(away_team_goals) AS total_away_goals
FROM sql.matches
GROUP BY season
ORDER BY season

# 2. Соединение таблиц по ключу

In [ ]:
SELECT *
FROM
    sql.teams,
    sql.matches
WHERE home_team_api_id = api_id

In [ ]:
SELECT 
    long_name, 
    home_team_goals,
    away_team_goals
FROM
    sql.teams,
    sql.matches
WHERE home_team_api_id = api_id

# 3. Знакомимся с JOIN

In [ ]:
SELECT 
    long_name,
    home_team_goals,
    away_team_goals
FROM    
    sql.teams
JOIN sql.matches on home_team_api_id = api_id

In [ ]:
SELECT
    teams.id
FROM 
    sql.teams
JOIN sql.matches ON home_team_api_id = api_id

In [ ]:
SELECT
    teams.match_id,
    teams.team_id
FROM 
    sql.teams
JOIN sql.matches ON home_team_api_id = api_id
ORDER BY teams.match_id

In [ ]:
SELECT
    m.id match_id,
    t.id team_id
FROM
    sql.matches m
    join sql.teams t on t.api_id = m.home_team_api_id
ORDER BY 1

In [ ]:
SELECT
    h.long_name "домашняя команда",
    m.home_team_goals "голы домашней команды",
    m.away_team_goals "голы гостевой команды",
    a.long_name "гостевая команда" 
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id

In [ ]:
SELECT 
    m.id,
    t.short_name home_short,
    t1.short_name away_short
FROM sql.matches m
JOIN sql.teams t on t.api_id = m.home_team_api_id
JOIN sql.teams t1 on t1.api_id = m.away_team_api_id 
ORDER BY 1

# 4. Фильтрация и агрегатные функции

#### ФИЛЬТРАЦИЯ ДАННЫХ

In [ ]:
SELECT 
    m.id
FROM
    sql.teams t
    JOIN sql.matches m ON m.away_team_api_id = t.api_id
WHERE long_name = 'Arsenal'

In [ ]:
SELECT 
	m.id id_1,
	m.season,
	t.id id_2,
	t.long_name
FROM
	sql.teams t
JOIN sql.matches m ON m.away_team_api_id = t.api_id

In [ ]:
SELECT 
    long_name, 
    home_team_goals home_goal,
    away_team_goals away_goal
FROM
    sql.teams t
JOIN sql.matches m ON m.home_team_api_id = t.api_id
WHERE t.short_name = 'GEN'
ORDER BY m.id

In [ ]:
SELECT *
FROM    
    sql.matches m
    JOIN sql.teams t on t.api_id = m.home_team_api_id
WHERE
    t.short_name = 'GEN'
    AND m.season = '2008/2009'

In [ ]:
SELECT
    m.id,
    t.short_name home_short,
    t1.short_name away_short
FROM
    sql.matches m
JOIN sql.teams t ON m.home_team_api_id = t.api_id
JOIN sql.teams t1 ON m.away_team_api_id = t1.api_id
WHERE
    m.season = '2011/2012'
    and (t.long_name = 'Liverpool' or t1.long_name = 'Liverpool')
ORDER BY m.id

#### АГРЕГАЦИЯ ДАННЫХ

In [ ]:
SELECT
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) match_goals
FROM
    sql.matches m
    JOIN sql.teams t ON m.away_team_api_id = t.api_id 
GROUP BY t.id

In [ ]:
SELECT
    m.season,
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
GROUP BY m.season, t.id
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100

In [ ]:
SELECT
    t.long_name
FROM
    sql.matches m
JOIN sql.teams t ON m.away_team_api_id = t.api_id
GROUP BY t.id
HAVING COUNT(*) >= 150
ORDER BY 1

# 5. Способы соединения таблиц

In [ ]:
SELECT
    t.long_name,
    m.id
FROM sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
ORDER BY m.id DESC

In [ ]:
SELECT
    t.long_name
FROM 
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
WHERE m.id IS NULL

In [ ]:
SELECT
  DISTINCT t.long_name
FROM
  sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id or t.api_id = m.away_team_api_id
WHERE m.id is not null
ORDER BY 1

In [ ]:
SELECT
    t.long_name,
    SUM(m.away_team_goals) total_goals
FROM   
    sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id
GROUP BY t.id
ORDER BY 2 DESC

In [ ]:
select
t.long_name,
count(m.id)
from
sql.teams t
left join sql.matches m on t.api_id = m.home_team_api_id or t.api_id = m.away_team_api_id
group by t.id
order by 2, 1

In [ ]:
SELECT
    DISTINCT
    t1.short_name home_team, 
    t2.short_name away_team
FROM
    sql.teams t1
    CROSS JOIN sql.teams t2
order by 1, 2

# 6. Итоги. Закрепление знаний

In [ ]:
SELECT DISTINCT t.long_name
FROM sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id
WHERE m.season = '2012/2013'
ORDER BY long_name

In [ ]:
SELECT  t.long_name, count(*) matches_cnt
FROM sql.teams t
LEFT JOIN sql.matches m ON t.api_id = m.home_team_api_id
WHERE t.long_name = 'Inter'
GROUP BY t.long_name
ORDER BY long_name

In [ ]:
SELECT  t.long_name, sum(m.away_team_goals) total_goals
FROM sql.teams t
JOIN sql.matches m ON t.api_id = m.away_team_api_id
GROUP BY t.id
ORDER BY total_goals DESC
LIMIT 10

In [ ]:
SELECT
    COUNT (*)
FROM
    sql.matches m
    JOIN sql.teams h ON h.api_id = m.home_team_api_id 
    JOIN sql.teams a ON a.api_id = m.away_team_api_id
WHERE
    (h.long_name = 'Real Madrid CF' and a.long_name = 'FC Barcelona')
    or (a.long_name = 'Real Madrid CF' and h.long_name = 'FC Barcelona')

In [ ]:
SELECT  t.long_name, m.season, sum(m.home_team_goals) total_goals
FROM sql.teams t
JOIN sql.matches m ON t.api_id = m.home_team_api_id
GROUP BY t.id, m.season
HAVING sum(m.home_team_goals) < 10
ORDER BY long_name, season