In [ ]:
select *
from sqlprotest.genres
from sqlprotest.movie_genres
from sqlprotest.movies

# Задание 4 +++++

Напишите запрос, который выведет количество фильмов в каждом жанре для случаев, когда в жанре представлено три или больше фильма. Столбцы к выводу ― genre_name (имя жанра) и movies_count (количество фильмов). Результат отсортируйте по второму полю в порядке убывания.

In [ ]:
select g.name genre_name, count(mg.movie_id) movies_count
from sqlprotest.movies m
join sqlprotest.movie_genres mg on m.id = mg.movie_id
join sqlprotest.genres g on mg.genre_id = g.id
group by 1
having count(mg.movie_id) >= 3
order by 2 desc

# Задание 7 +++++

Напишите запрос, с помощью которого можно выбрать фильмы, не относящихся к жанру 'Криминал'. Выведите все столбцы таблицы movies.

In [ ]:
select m.id, m.name, m.year, m.rating
from sqlprotest.movies m
join sqlprotest.movie_genres mg on m.id = mg.movie_id
join sqlprotest.genres g on mg.genre_id = g.id

except

select m.id, m.name, m.year, m.rating
from sqlprotest.movies m
join sqlprotest.movie_genres mg on m.id = mg.movie_id
join sqlprotest.genres g on mg.genre_id = g.id
where g.name = 'Криминал'
order by 2

# Задание 8 +++++

Напишите запрос, который покажет три фильма, у которых есть рейтинг. Отсортируйте выборку по возрастанию года выхода фильма. Выведите все поля таблицы movies.

In [ ]:
select m.*
from sqlprotest.movies m
where m.rating is not null
order by m.year
limit 3

# Задание 10 +++++

Напишите запрос, с помощью которого можно вычислить средний рейтинг фильмов в каждом жанре. Выведите два столбца: genre_name (название жанра) и average_rating (средний рейтинг). Результат отсортируйте по второму полю в порядке убывания.

In [ ]:
select g.name genre_name, avg(m.rating) average_rating
from sqlprotest.movies m
join sqlprotest.movie_genres mg on m.id = mg.movie_id
join sqlprotest.genres g on mg.genre_id = g.id
group by g.name
order by 2 desc

# Задание 11 +++++

Напишите запрос, чтобы вывести все названия фильмов и их рейтинги.Если рейтинга нет, отобразите 0 для такого фильма. Отсортируйте по названию фильма в порядке возрастания.

In [ ]:
select m.name, coalesce(m.rating, 0 )
from sqlprotest.movies m
order by m.name