### 1. Основы Python

In [1]:
python_string = 'Hello! My name is Python. I will help you to analyze some data'
len(python_string)**3

238328

In [2]:
python_string[18:24]

'Python'

In [5]:
python_string.replace("!", "\n ")
python_string.replace(".", "\n ")
len(python_string.split())

13

In [6]:
def change_password(user_name, new_password):
    return "User {} changed password to {}".format(user_name,new_password)

print(change_password("Lena", "qwerty"))

User Lena changed password to qwerty

### 2. Погружение в типы данных

In [7]:
# Напишите функцию get_unique_words(), которая избавляется от знаков препинаний 
# и пробелов в тексте и возвращает упорядоченный список 
# (слова расположены по алфавиту) из уникальных (неповторяющихся) слов.

# Можно использовать готовый список со знаками препинания:

punctuation_list = ['.', ',', ';', ':', '...', '!', '?', '-', '"', '(', ')']
# Текст, который можно использовать в качестве примера:
text_example = "A beginning is the time for taking the most delicate care that the balances are correct. This every sister of the Bene Gesserit knows. To begin your study of the life of Muad'Dib, then take care that you first place him in his time: born in the 57th year of the Padishah Emperor, Shaddam IV. And take the most special care that you locate Muad'Dib in his place: the planet Arrakis. Do not be deceived by the fact that he was born on Caladan and lived his first fifteen years there. Arrakis, the planet known as Dune, is forever his place."

def get_unique_words(text):
    for x in punctuation_list:
        text=text.replace(x,"")
    text=list(set(text.lower().split()))
    text.sort()
    return text

print(get_unique_words(text_example))

['57th', 'a', 'and', 'are', 'arrakis', 'as', 'balances', 'be', 'begin', 'beginning', 'bene', 'born', 'by', 'caladan', 'care', 'correct', 'deceived', 'delicate', 'do', 'dune', 'emperor', 'every', 'fact', 'fifteen', 'first', 'for', 'forever', 'gesserit', 'he', 'him', 'his', 'in', 'is', 'iv', 'known', 'knows', 'life', 'lived', 'locate', 'most', "muad'dib", 'not', 'of', 'on', 'padishah', 'place', 'planet', 'shaddam', 'sister', 'special', 'study', 'take', 'taking', 'that', 'the', 'then', 'there', 'this', 'time', 'to', 'was', 'year', 'years', 'you', 'your']

In [10]:
# Разработайте функцию holes_count(), которая подсчитывает количество отверстий 
# в заданном числе. Например, в цифре 8 два отверстия, в цифре 9 - одно. 
# В числе 146 - два отверстия. 
# Подсказка: используйте словарь для записи количества отверстий в цифрах
otverstie =  {"0": 1, "4": 1, "6": 1, "8": 2, "9": 1}
def holes_count(number):
    otverstie =  {"0": 1, "4": 1, "6": 1, "8": 2, "9": 1}
    otverstie_count=0
    for x in otverstie:
        

print(holes_count(123))
print(holes_count(8888))

None
None

### 3. Условные операторы

In [11]:
# Напишите функция find_min_number(), которая принимает три числа на вход 
# и возвращает наименьшее из них.

# Используйте условия для решения задачи

def find_min_number(a, b, c):
    if a<b and a<c:
        return a
    elif b<a and b<c:
        return b
    else:
        return c

print(find_min_number(1, 2, 3))

3

In [13]:
def sum_min_numbers(a, b, c):
    if a<b and a<c and b<c:
        return a+b
    elif a<b and a<c and c<b:
        return a+c
    else:
        return c+b
print(sum_min_numbers(3, 1, 10))

11