In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
hh_database = pd.read_csv('dst-3.0_16_1_hh_database.csv', sep=';')
hh_database.shape

(44744, 12)

In [2]:
def level_of_education(level_split):
    level_split = ' '.join(level_split.split(' ')[:2]) 
    if 'Высшее' in level_split:
        return 'высшее'
    elif 'Неоконченное высшее' in level_split:
        return 'неоконченное высшее'
    elif 'Среднее специальное' in level_split:
        return 'среднее специальное'
    elif 'Среднее' in level_split:
        return 'среднее'
hh_database['Образование'] = hh_database['Образование и ВУЗ'].apply(level_of_education)
hh_database = hh_database.drop(['Образование и ВУЗ'], axis = 1)
hh_database['Образование'].unique()

array(['неоконченное высшее', 'высшее', 'среднее специальное', 'среднее'],
      dtype=object)

In [3]:
def gender(x):
    x = ' '.join(x.split(',')[:1]) 
    if 'Мужчина' in x:
        return 'М'
    elif 'Женщина' in x:
        return 'Ж'
hh_database['Пол'] = hh_database['Пол, возраст'].apply(gender)
hh_database['Пол'].unique()
round((hh_database['Пол'].value_counts(normalize=True) * 100), 2)

М    80.93
Ж    19.07
Name: Пол, dtype: float64

In [4]:
def years_old(x):
    x_split = x.split(' ')
    year_words = ['год', 'года', 'лет']
    for index, item in enumerate (x_split):
        if item in year_words:
            return int(x_split[index-1])
hh_database['Возраст'] = hh_database['Пол, возраст'].apply(years_old)
hh_database = hh_database.drop('Пол, возраст', axis=1)
round(hh_database['Возраст'].mean(), 2)

32.2

In [5]:
def work_experience(x):
    if x is np.nan or x == 'Не указано':
        return np.nan
    x_split = x.split(' ')[:6]
    year_words = ['год', 'года', 'лет']
    month_words=['месяц', 'месяца', 'месяцев']
    years = 0
    months = 0
    for index, item in enumerate (x_split):
        if item in year_words:
            years = int(x_split[index-1])
        if item in month_words:
            months = int(x_split[index-1])
    return int(years*12 + months)
hh_database['Опыт работы (месяц)'] = hh_database['Опыт работы'].apply(work_experience)
hh_database = hh_database.drop('Опыт работы', axis=1)
hh_database['Опыт работы (месяц)'].median()

100.0

In [13]:
def current_city(x):
    x_split = x.split(',')[0]
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань',
                  'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа',
                  'Красноярск', 'Пермь', 'Воронеж', 'Волгоград']
    default_city = ['Москва', 'Санкт-Петербург']
    if x_split in million_cities:
        return 'город-миллионник'
    elif x_split in default_city:
        return x_split
    else:
        return 'другие'
hh_database['Город'] = hh_database['Город, переезд, командировки'].apply(current_city)

million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград']  # list of million - plus cities
hh_database['Город'] = hh_database['Город, переезд, командировки'].apply(lambda x: x.split()[0])
hh_database['Город'] = hh_database['Город'].apply(
    lambda x:
    'город-миллионник' if x in million_cities
    else
    ('Москва' if x == 'Москва' else ('Санкт-Петербург' if x == 'Санкт-Петербург' else 'другие')))

In [14]:
hh_database['Город'].value_counts()

другие    44744
Name: Город, dtype: int64