In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import ttest_ind, shapiro, f_oneway, mannwhitneyu
from statsmodels.stats.proportion import proportions_ztest

# 7. Закрепление знаний

In [2]:
data = pd.read_csv('data/ab_data_tourist.csv')
data['date'] = pd.to_datetime(data['date'])
data.head()

   user_id       date group  purchase   price
0   851104 2021-01-21     A         0       0
1   804228 2021-01-12     A         0       0
2   661590 2021-01-11     B         0       0
3   853541 2021-01-08     B         0       0
4   864975 2021-01-21     A         1  150000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   294478 non-null  int64
 1   date      294478 non-null  datetime64[ns]
 2   group     294478 non-null  object
 3   purchase  294478 non-null  int64
 4   price     294478 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 11.2+ MB