# 2. Предварительный анализ данных

##### 2.1

In [ ]:
SELECT max(age)
FROM hh.CANDIDATE

##### 2.2

In [ ]:
SELECT min(age)
FROM hh.CANDIDATE

##### 2.3

In [ ]:
SELECT age, count(*)
FROM hh.CANDIDATE
group by 1
order by 1 desc

##### 2.4

In [ ]:
SELECT count(*)
FROM hh.CANDIDATE
where age between 41 and 99

# 3. Глобальный анализ показателей

##### 3.1

In [ ]:
SELECT ci.title city, count(c.id) cnt
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id
group by 1
order by 2 desc

##### 3.2

In [ ]:
SELECT c.gender,c.age, c.desirable_occupation, ci.title, c.employment_type
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id
where ci.title = 'Москва' and c.employment_type like '%проектная работа%'
order by c.id

##### 3.3

In [ ]:
SELECT c.gender,c.age, c.desirable_occupation, ci.title, c.employment_type
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id
where ci.title = 'Москва' and c.employment_type like '%проектная работа%'
and ((lower(c.desirable_occupation) like '%разработчик%' 
or lower(c.desirable_occupation) like '%аналитик%' 
or lower(c.desirable_occupation) like '%программист%'))
order by c.id

##### 3.4

In [ ]:
SELECT c.id, ci.title
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id
where c.desirable_occupation = c.current_occupation
order by 2, 1

##### 3.5

In [ ]:
SELECT count(*)
FROM hh.CANDIDATE
where (gender = 'M' and age >= 65 and age!= 100) or (gender = 'F' and age >= 60 and age!= 100)

# 4. Анализ кандидатов для заказчиков

##### 4.1

In [ ]:
SELECT c.gender, c.age, c.desirable_occupation, ci.title city, c.employment_type, tt.title timetable_type
FROM hh.CANDIDATE c 
left join hh.city ci on ci.id = c.city_id 
left join hh.candidate_timetable_type ctt on ctt.candidate_id = c.id
left join hh.timetable_type tt on tt.id = ctt.timetable_id
where ci.title in ('Новосибирск', 'Омск', 'Томск', 'Тюмень') and tt.title = 'вахтовый метод'
order by 4, c.id

##### 4.2

In [ ]:
(SELECT c.desirable_occupation, c.age
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id 
where ci.title = 'Санкт-Петербург' and (c.age between 16 and 21)
order by 2
limit 10)
union all
(SELECT 'Total', count(*) 
FROM hh.CANDIDATE c left join hh.city ci on ci.id = c.city_id 
where ci.title = 'Санкт-Петербург' and (c.age between 16 and 21)
order by 2)