# Загрузка Pandas и очистка данных

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
def price_rate(price):
    if price == "$":
        return 1
    elif price == "$$ - $$$":
        return 2
    elif price == "$$$$":
        return 3
    elif price == "":
        return NaN

In [11]:
df = pd.read_csv('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/project_3/main_task.csv')
df=df.drop(df.columns[[1,2,7,8,9]], axis=1)
df['Price Range'] = df['Price Range'].apply(price_rate)
df=df.fillna(df.mean())
df

      Restaurant_id  Ranking  Rating  Price Range  Number of Reviews
0           id_5569   5570.0     3.5     2.000000              194.0
1           id_1535   1537.0     4.0     1.814046               10.0
2            id_352    353.0     4.5     3.000000              688.0
3           id_3456   3458.0     5.0     1.814046                3.0
4            id_615    621.0     4.0     2.000000               84.0
...             ...      ...     ...          ...                ...
39995        id_499    500.0     4.5     2.000000               79.0
39996       id_6340   6341.0     3.5     2.000000              542.0
39997       id_1649   1652.0     4.5     1.814046                4.0
39998        id_640    641.0     4.0     2.000000               70.0
39999       id_4824   4827.0     3.0     2.000000              260.0

[40000 rows x 5 columns]

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [5]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [7]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [9]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [10]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.42196040079365077