In [3]:
import pandas as pd
from ast import literal_eval
from datetime import timedelta

#df=pd.read_csv('C:/Users/user/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/project_3/main_task.csv')
df=pd.read_csv('C:/Users/Крис/Documents/GitHub/Skillfactory_Alexander_Stratonov/module_3/project_3/main_task.csv')
df["Cuisine Style"] = df.groupby("City")["Cuisine Style"].transform(lambda x: x.fillna("['Other']"))
df['cuisin_count'] = df['Cuisine Style'].str.split(', ').str.len()
df["Cuisine Style"] = df["Cuisine Style"].apply(literal_eval)
def get_vegan(cuisines):
    if 'Vegan Options' in cuisines != -1 or 'Vegetarian Friendly' in cuisines != -1:
        return 1
    return 0
df['vegan'] = df['Cuisine Style'].apply(get_vegan)
df

      Restaurant_id       City                                      Cuisine Style  ...     ID_TA  cuisin_count vegan
0           id_5569      Paris                  [European, French, International]  ...  d1912643             3     0
1           id_1535  Stockholm                                            [Other]  ...  d7992032             1     0
2            id_352     London  [Japanese, Sushi, Asian, Grill, Vegetarian Fri...  ...  d8632781             7     1
3           id_3456     Berlin                                            [Other]  ...  d1358776             1     0
4            id_615     Munich    [German, Central European, Vegetarian Friendly]  ...  d6864963             3     1
...             ...        ...                                                ...  ...       ...           ...   ...
39995        id_499      Milan  [Italian, Vegetarian Friendly, Vegan Options, ...  ...  d2104414             4     1
39996       id_6340      Paris  [French, American, Bar, European, Vegetarian F...  ...  d1800036             5     1
39997       id_1649  Stockholm                                  [Japanese, Sushi]  ...   d947615             2     0
39998        id_640     Warsaw  [Polish, European, Eastern European, Central E...  ...  d1100838             5     1
39999       id_4824      Milan                                          [Spanish]  ...  d1109020             1     0

[40000 rows x 12 columns]

In [31]:
df.isna().sum()

Restaurant_id            0
City                     0
Cuisine Style            0
Ranking                  0
Rating                   0
Price Range          13886
Number of Reviews     2543
Reviews                  0
URL_TA                   0
ID_TA                    0
cuisin_count             0
vegan                    0
reviews_count            0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
 10  cuisin_count       40000 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 3.4+ MB

In [4]:
dtypeCount =[df.iloc[:,i].apply(type).value_counts() for i in range(df.shape[1])]
dtypeCount

[<class 'str'>    40000
 Name: Restaurant_id, dtype: int64,
 <class 'str'>    40000
 Name: City, dtype: int64,
 <class 'list'>    40000
 Name: Cuisine Style, dtype: int64,
 <class 'float'>    40000
 Name: Ranking, dtype: int64,
 <class 'float'>    40000
 Name: Rating, dtype: int64,
 <class 'str'>      26114
 <class 'float'>    13886
 Name: Price Range, dtype: int64,
 <class 'float'>    40000
 Name: Number of Reviews, dtype: int64,
 <class 'str'>    40000
 Name: Reviews, dtype: int64,
 <class 'str'>    40000
 Name: URL_TA, dtype: int64,
 <class 'str'>    40000
 Name: ID_TA, dtype: int64,
 <class 'int'>    40000
 Name: cuisin_count, dtype: int64]

df=df.drop(['Cuisine Style', 'Price Range', 'Number of Reviews'], axis=1)
df.isna().sum()

In [5]:
print(len(df['Price Range']) - df['Price Range'].isna().sum())
print(df['Price Range'].unique())
print(len(df[df['Price Range']=='$$ - $$$']))
print(len(df['City'].unique()))
print(len(df["Cuisine Style"].explode('Cuisine Style').value_counts())-1)
print(df["Cuisine Style"].explode('Cuisine Style').value_counts().head(1))
print(round(df['cuisin_count'].mean(),1))

26114
['$$ - $$$' nan '$$$$' '$']
18412
31
125
Vegetarian Friendly    11189
Name: Cuisine Style, dtype: int64
2.6

In [ ]:
df["Reviews"] = df["Reviews"].apply(literal_eval)
df['reviews_count'] = df['Reviews'].apply(lambda x: len(x[0]))