In [ ]:
SELECT 
         N columns
FROM 
         table_1

UNION / UNION ALL / EXCEPT / INTERSECT 

SELECT 
         N columns
FROM 
         table_2

# 1. Знакомимся с данными

In [ ]:
SELECT city_name, max(weight) m_w
FROM sql.shipment s JOIN sql.city c on s.city_id = c.city_id
group by city_name
order by m_w desc
limit 1

In [ ]:
SELECT distinct make
FROM sql.truck

In [ ]:
select
  dr.first_name
from sql.shipment as sh
     join sql.driver as dr on sh.driver_id = dr.driver_id
group by dr.driver_id, sh.cust_id
order by count(*) desc
limit 1

In [ ]:
SELECT min(ship_date), max(ship_date)
FROM sql.shipment

In [ ]:
SELECT cust_name, count(s.cust_id)
FROM sql.shipment s JOIN sql.customer c on s.cust_id = c.cust_id
where (extract (year from ship_date) = 2017) 
group by cust_name
order by 2 desc

# 2. UNION

SELECT 
         book_name object_name, 'книга' object_description 
FROM 
         public.books
UNION ALL

SELECT 
         movie_title, 'фильм' 
FROM 
         sql.kinopoisk

In [ ]:
SELECT
         c.city_id object_name, 'id города' object_type
FROM 
         sql.city c

UNION ALL

SELECT
         d.driver_id other_name, 'id водителя' other_type
FROM 
         sql.driver d

UNION ALL

SELECT
         s.ship_id, 'id доставки'
FROM 
         sql.shipment s

UNION ALL

SELECT
         c.cust_id, 'id клиента'
FROM 
         sql.customer c

UNION ALL

SELECT
         t.truck_id, 'id грузовика'
FROM 
         sql.truck t
ORDER BY 1

In [ ]:
SELECT book_name object_name, 'книга' object_descritption 
FROM public.books
UNION ALL
SELECT movie_title, 'фильм' 
FROM sql.kinopoisk
ORDER BY 1
LIMIT 1

In [ ]:
(SELECT book_name object_name, 'книга' object_descritption 
FROM public.books
ORDER BY 1
LIMIT 1)
UNION ALL
(SELECT movie_title, 'фильм' 
FROM sql.kinopoisk
ORDER BY 1
LIMIT 1)

In [ ]:
SELECT c.city_name "название" , 'city' "тип объекта"
FROM sql.city c
UNION
SELECT c.state, 'state'
FROM sql.city c
UNION
SELECT d.first_name , 'driver' 
FROM sql.driver d
UNION
SELECT t.make, 'truck'
FROM sql.truck t
ORDER BY 1, 2

In [ ]:
SELECT c.city_name "object_name" 
FROM sql.city c
UNION ALL
SELECT c.state
FROM sql.city c
ORDER BY 1

# 3. UNION и ограничение типов данных

In [ ]:
SELECT 
         c.city_id::text
FROM
         sql.city c

UNION ALL

SELECT 
         cc.city_name
FROM
         sql.city cc

In [ ]:
SELECT
    d.zip_code::text contact,
    d.first_name first_name,
    'zip' contact_type
FROM
    sql.driver d
UNION
SELECT
    dd.phone contact,
    dd.first_name first_name,
    'phone' contact_type
FROM
    sql.driver dd
ORDER BY 1,2

# 4. UNION ALL и промежуточные итоги

In [ ]:
SELECT
         c.city_name,
         c.population
FROM
         sql.city c

UNION ALL

SELECT
         'total',
         SUM(c.population)
FROM
         sql.city c
ORDER BY 2 DESC

In [ ]:
SELECT s.ship_date::text date_period, COUNT(*) cnt_shipment
FROM sql.shipment s 
GROUP BY 1
UNION ALL
SELECT 'total_shipments', COUNT(*)
FROM sql.shipment s
ORDER BY 2 desc

# 5. UNION и дополнительные условия

In [ ]:
SELECT
         d.first_name,
         d.last_name,
         'телефон заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NOT NULL

UNION

SELECT
         d.first_name,
         d.last_name,
         'телефон не заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NULL

In [ ]:
SELECT
         c.city_name,
         c.state,
         'доставка осуществлялась' shipping_status
FROM 
    sql.city c LEFT JOIN sql.shipment s ON c.city_id=s.city_id
WHERE s.city_id IS NOT NULL
UNION
SELECT 
     c.city_name AS city_name,
     c.state AS state,
    'доставка не осуществлялась' AS shipping_status
FROM 
    sql.city c
    LEFT JOIN sql.shipment s ON c.city_id=s.city_id
WHERE s.city_id IS NULL
ORDER BY 1, 2

In [ ]:
SELECT
    c.city_name AS city_name,
    COUNT(s.ship_id) shippings_fake
FROM
    sql.city c
    JOIN sql.shipment s ON c.city_id=s.city_id
GROUP BY
    c.city_name
HAVING
     COUNT(s.ship_id) > 10
UNION
SELECT
    c.city_name AS city_name,
    COUNT(s.ship_id)+5 shippings_fake
FROM
    sql.city c
    JOIN sql.shipment s ON c.city_id=s.city_id
GROUP BY
    c.city_name
HAVING
     COUNT(s.ship_id) <= 10
ORDER BY
    shippings_fake desc,
    city_name asc

# 6. UNION и ручная генерация

In [ ]:
SELECT 1000000
UNION 
SELECT 541
UNION 
SELECT -500
UNION 
SELECT 100
order by 1 desc
limit 1

In [ ]:
SELECT '1000000'
UNION 
SELECT '541'
UNION 
SELECT '-500'
UNION 
SELECT '100'
order by 1 desc
limit 1

In [ ]:
SELECT '+'
UNION 
SELECT '-'
UNION 
SELECT '='
UNION 
SELECT '/'
order by 1 desc
limit 1

# 7. EXCEPT

In [ ]:
SELECT
         c.city_name
FROM
         sql.shipment s
JOIN sql.city c ON s.city_id = c.city_id

EXCEPT

SELECT
         cc.city_name
FROM
         sql.driver d 
JOIN sql.city cc ON d.city_id=cc.city_id
ORDER BY 1

In [ ]:
SELECT
         d.zip_code
FROM
         sql.driver d
EXCEPT
SELECT
         c.zip
FROM
         sql.customer c
ORDER BY 1

# 8. INTERSECT

In [ ]:
SELECT 
         c.city_name object_name
FROM 
         sql.city c

INTERSECT

SELECT 
         cc.state
FROM 
         sql.city cc
ORDER BY 1

In [ ]:
SELECT 
         c.city_id
FROM 
         sql.customer  c
INTERSECT
SELECT 
         s.city_id
FROM 
         sql.shipment s
INTERSECT
SELECT 
         d.city_id
FROM 
         sql.driver d

# 9. Итоги. Закрепление знаний

In [ ]:
(SELECT 
         c.city_name,
         min(s.weight) weight
FROM 
         sql.city c join sql.shipment s on s.city_id = c.city_id
GROUP BY c.city_name
order BY 2
limit 1)

UNION

(SELECT 
         c.city_name,
         max(s.weight)
FROM 
         sql.city c join sql.shipment s on s.city_id = c.city_id
GROUP BY c.city_name
order BY 2 desc
limit 1)

In [ ]:
SELECT 
         cust_id mutual_id
FROM 
         sql.customer  c
INTERSECT
SELECT 
         ship_id
FROM 
         sql.shipment  s
order BY 1

In [ ]:
SELECT 
         cust_name object_name, 'КЛИЕНТ' object_description
FROM 
         sql.customer  c
where cust_type='manufacturer'
union
SELECT 
         make, 'ГРУЗОВИК'
FROM 
         sql.truck t
order BY 1