In [1]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [2]:
round(df.men.mean() - df.women.mean(),1)

12.5

In [3]:
#median
import statistics as st
a1 = [2, 7, 4, 3, 6, 4, 1, 2]
a2 = [5, 2, 4, 8, 1, 6, 7]
st.median(a1)

3.5

In [4]:
st.median(a2) - st.median(a1)

1.5

In [5]:
df.median()

men      75.6
women    57.6
dtype: float64

In [6]:
patients = pd.concat([df.men, df.women])
patients.median()

59.6

In [7]:
#quantile
import numpy as np
a11 = pd.DataFrame(a1)
a11.quantile([0.25,0.5,0.75])

        0
0.25  2.0
0.50  3.5
0.75  4.5

In [8]:
a22 = pd.DataFrame(a2)
a22.quantile([0.25,0.5,0.75])

        0
0.25  3.0
0.50  5.0
0.75  6.5

In [13]:
df.men.quantile([0.25,0.5,0.75], interpolation='midpoint')

0.25    58.60
0.50    75.60
0.75    79.05
Name: men, dtype: float64

In [12]:
df.women.quantile([0.25,0.5,0.75], interpolation='midpoint')

0.25    53.90
0.50    57.60
0.75    60.35
Name: women, dtype: float64

In [17]:
#range
df.max() - df.min()

men      47.5
women    24.6
dtype: float64

In [21]:
#IQR
round(df.men.quantile(0.75, interpolation='midpoint') - df.men.quantile(0.25, interpolation='midpoint'), 1)

20.5

In [22]:
round(df.women.quantile(0.75, interpolation='midpoint') - df.women.quantile(0.25, interpolation='midpoint'), 1)

6.5

In [25]:
#std
round(df.std(), 1)

men      15.2
women     8.3
dtype: float64

In [26]:
#dispersia (var)
round(df.var(), 1)

men      230.5
women     68.4
dtype: float64

In [39]:
#ВЫБРОСЫ НИЖНИЕ
(df.men.quantile(0.25, interpolation='midpoint')) - 1.5*(round(df.men.quantile(0.75, interpolation='midpoint') 
                                                               - df.men.quantile(0.25, interpolation='midpoint'), 1))

27.85

In [40]:
#ВЫБРОСЫ ВЕРХНИЕ
(df.men.quantile(0.75, interpolation='midpoint')) + 1.5*(round(df.men.quantile(0.75, interpolation='midpoint') 
                                                               - df.men.quantile(0.25, interpolation='midpoint'), 1))

109.80000000000001

In [41]:
#ВЫБРОСЫ НИЖНИЕ
(df.women.quantile(0.25, interpolation='midpoint')) - 1.5*(round(df.women.quantile(0.75, interpolation='midpoint') 
                                                                 - df.women.quantile(0.25, interpolation='midpoint'), 1))

44.15

In [42]:
#ВЫБРОСЫ ВЕРХНИЕ
(df.women.quantile(0.75, interpolation='midpoint')) + 1.5*(round(df.women.quantile(0.75, interpolation='midpoint') 
                                                                 - df.women.quantile(0.25, interpolation='midpoint'), 1))

70.1

In [45]:
weather = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})

In [47]:
round(weather.temp.mean(), 1)

-6.1

In [48]:
round(weather.temp.median(), 1)

-6.0

In [49]:
round(weather.temp.std(), 1)

2.3

In [57]:
weather.temp.max() - weather.temp.min()

9.0

In [55]:
round((weather.temp.quantile(0.75, interpolation='midpoint')) - (weather.temp.quantile(0.25, interpolation='midpoint')), 1)

1.9

In [58]:
(weather.temp.quantile(0.25, interpolation='midpoint')) - 1.5*(round(weather.temp.quantile(0.75, interpolation='midpoint') 
                                                                 - weather.temp.quantile(0.25, interpolation='midpoint'), 1))

-9.7

In [59]:
(weather.temp.quantile(0.75, interpolation='midpoint')) + 1.5*(round(weather.temp.quantile(0.75, interpolation='midpoint') 
                                                                 - weather.temp.quantile(0.25, interpolation='midpoint'), 1))

-2.1000000000000005