In [1]:
import pandas as pd

df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [2]:
round(df.men.mean() - df.women.mean(),1)

12.5

In [18]:
import statistics as st
a1 = [2, 7, 4, 3, 6, 4, 1, 2]
a2 = [5, 2, 4, 8, 1, 6, 7]
st.median(a1)

3.5

In [19]:
st.median(a2) - st.median(a1)

1.5

In [12]:
df.median()

men      75.6
women    57.6
dtype: float64

In [17]:
patients = pd.concat([df.men, df.women])
patients.median()

59.6

In [36]:
import numpy as np
a11 = pd.DataFrame(a1)
a11.quantile([0.25,0.5,0.75])

        0
0.25  2.0
0.50  3.5
0.75  4.5

In [34]:
a22 = pd.DataFrame(a2)
a22.quantile([0.25,0.5,0.75])

        0
0.25  3.0
0.50  5.0
0.75  6.5